# MultiVariable House Price Prediction


    Price = m1 * area  + m2 * bedrooms  + m3 * age  + b
    
    m1, m2, m3 = coefficient
    b = intercept

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import math

In [4]:
dataset = pd.read_csv('homeprices.csv')

In [11]:
dataset.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [42]:
bedroom_Median = math.floor(dataset.bedrooms.median())
bedroom_Median

4

In [43]:
dataset.bedrooms = dataset.bedrooms.fillna(bedroom_Median)
dataset

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [44]:
model = LinearRegression()
model.fit(dataset[['area','bedrooms','age']],dataset.price)

LinearRegression()

In [45]:
model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [46]:
model.intercept_

221323.00186540396

In [47]:
model.predict([[3000,3,40]])

/Users/mahimairaja/opt/anaconda3/envs/tensor/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

In [48]:
model.predict([[2500,4,5]])

/Users/mahimairaja/opt/anaconda3/envs/tensor/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([578876.03748933])